* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    color: blanchedalmond;
    background: rgb(48, 48, 48);
    
}

.header {
    display: flex;
    align-items: center;
    height: 85px;
    background: linear-gradient(90deg, #22804b 1.18%, #b16920 100%);
    color: black;
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 6px;
}